<div class="about">
    <div class="desc">
        <p>Responsive web app dedicated to Curiosity Mars Rover mission in 2012. App gets Mars images from API and presents them as separate blog posts. Registered users can comment posts and check own comments history in dedicated user panel. Only logged
            in users have access to user panel. Used technologies: Angular, Flex Box, CSS Grid, Firebase DB & Authentication;</p>
    </div>
    <img class="img" src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Curiosity_Self-Portrait_at_%27Big_Sky%27_Drilling_Site.jpg" />
    <p>Source: Wikipedia</p>

</div>
