    .products {
        border: 1px solid black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: auto;
        @media screen and (min-width: 720px) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (min-width: 1080px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media screen and (min-width: 1600px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    
    .product {
        max-width: 100%;
        box-sizing: border-box;
        margin: 5px;
    }
    
    .img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .text {
        background-color: rgba(245, 245, 245, 0.452);
        padding: 10px;
        .author {
            font-style: italic;
            margin-bottom: 10px;
        }
        .description {
            text-align: justify;
        }
        .btn {
            margin: 10px 0px;
            padding: 10px;
            border: 1px solid black;
            float: right;
        }
    }