    .products {
        border: 1px solid black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: auto;
        @media screen and (min-width: 720px) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (min-width: 1080px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media screen and (min-width: 1600px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    .btn {
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
        float: right;
    }
