.commetContainer {
    margin: 10px;
    padding: 5px;
    font-size: 90%;
}

.author {
    font-weight: bold;
    margin: 10px 0px;
}

.body {
    margin: 5px;
    font-style: italic;
    text-align: justify;
    width: 100%;
}
