<div class="product">
    <img class="img" src={{dt.img}}/>
    <div class="text">
        <h2 [routerLink]="['/posts/', dt.id]">PHOTO #{{dt.id}}</h2>
        <div class="author">
            <ul>
                <li>Created: {{dt.created}}</li>
                <li>Location: Mars </li>
                <li>Rover name: {{dt.roverName}}</li>
                <li>Camera Name: {{dt.cameraName}} </li>
            </ul>
        </div>
        <br/>
        <div class="description">
            {{lorem}}
        </div>
        <br/>
    </div>
</div>