.newCommentClass {
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr;
}

;
.commentPreView {
    padding: 10px;
    min-height: 50px;
    border: 1px solid black;
    text-align: justify;
    font-size: 90%;
}

#user {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 10px 0px;
}

.inputField {
    width: 100%;
    padding: 10px 0px;
}

#commentInput {
    width: 95%;
    min-height: 50px;
    grid-template-rows: 1fr;
    text-align: justify;
    padding: 10px;
}
