<div class="MyNav" (window:resize)="onResize($event)">
    <div class="HamburgerMenuBox" (click)="menuToggle()">
        <div class="HamburgerMenuLine" *ngFor="let line of lines"></div>
    </div>
    <div class="MenuListBox" *ngIf="showMenu">

        <a routerLink="about" routerLinkActive="active">
            <button class="MenuListItemStyles">About</button>
        </a>
        <a routerLink="store" routerLinkActive="active">
            <button class="MenuListItemStyles">Posts</button>
        </a>
        <a *ngIf="user" routerLink="user" routerLinkActive="active">
            <button class="MenuListItemStyles">User Panel</button>
        </a>
        <a *ngIf="user" routerLink="/" routerLinkActive="active">
            <button (click)="logout()" class="MenuListItemStyles">Logout</button>
        </a>
        <a *ngIf="!user" routerLink="login" routerLinkActive="active">
            <button class="MenuListItemStyles">Login</button>
        </a>
        <a *ngIf="!user" routerLink="register" routerLinkActive="active">
            <button class="MenuListItemStyles">Register</button>
        </a>

    </div>
</div>