        @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
        body {
            font-family: 'Noto Sans JP', sans-serif;
        }

        li,
        ol,
        ul {
            list-style: none outside none;
            margin: 0;
            padding: 0;
        }

        .btn {
            margin: 10px;
            padding: 10px;
            border: 1px solid black;
            float: right;
        }
